/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');



@font-face {
  font-family: "Sitka";
  src: url("../src/Fonts/sitka-small-599.ttf");
}

/* @font-face {
  font-family: "Roboto";
  src: url("../src/Fonts/sitka-small-599.ttf");
} */

@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/radomir-tinkov-gilroy-extrabold.otf");
}

body{
  font-family: "roboto";
}

.outlined{
  -webkit-text-stroke: 1.5px #fff;
  -webkit-text-fill-color: transparent;
}

.swiper-button-next:after, .swiper-button-prev:after{
  color: black;
  font-size: 36px !important;
}

.swiper-scrollbar{
  width: 91.67% !important;
  margin: 0 auto !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

@media (max-width: 768px ) {
  .swiper-button-next:after, .swiper-button-prev:after{
    font-size: 32px !important;
  }
}

.slide-image-right {
  opacity: 0;
  transform: translateX(100%);
  animation: fade-right 1s ease-in-out forwards;
}

@keyframes fade-right {
  from {
    transform: translateX(30%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.slide-image-left {
  opacity: 0;
  transform: translateX(100%);
  animation: fade-right 1s ease-in-out forwards;
}

@keyframes fade-left {
  from {
    transform: translateX(30%);
    opacity: 0;
  }
  to {
    transform: translateX(-0%);
    opacity: 1;
  }
}



@tailwind base;
@tailwind components;
@tailwind utilities;